body{

 
    background: linear-gradient(#FF6C00, #FF3C00);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.btn{
    border: solid 1px white;
    color:white;
    background: linear-gradient(#FF6C00, #FF3C00);
}

.container-fluid{
    /* height: 100vh; */
    width: 100wh;
    }

.chart-container{
    background-color: white;


}

/* .yellow{

    background-color: #FF6C00;
} */

.form-control{
    background-color: white;
}

.bg-form{
    background-color: rgba(255, 68, 0, 0.637);
    /* height: 100vh; */
}

.btn{
    background: linear-gradient(#FF6C00, #FF3C00);
    border: solid 1px white;

}
.input-line{
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: none ;
}
.form-control{
    background-color: transparent !important;
}

#choice-emoji{
    background-color: white;
}

.bonjour{

    color: #FF3C00 ;
    font-size: 3rem;
}

