body{
    background: linear-gradient(#FF6C00, #FF3C00);
}

.container-fluid{
    height: 100vh;
    width: 100wh;
    
}

.btn{
    background: linear-gradient(#FF6C00, #FF3C00);
    border: solid 1px white;

}
.input-line{
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: none ;
}
.form-control{
    background-color: transparent !important;
}

#choice-emoji{
    background-color: white;
}