@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');


body{
    background: linear-gradient(#FF6C00, #FF3C00);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

.btn{
    border: solid 1px white;
    color:white;
    background: linear-gradient(#FF6C00, #FF3C00);
}

.container-fluid{
    width: 100wh;
    }
    
    .chart-container{
    background-color: white;
}

.vote{    
    background: rgba(245, 133, 52, 0.836);
    font-size: 1.1rem;
 
}

.error{
    padding-left: 15px;
    background: rgba(245, 133, 52, 0.836);
    /* border: solid 1px white; */
    /* border-radius: 5px; */
}

/* .btn-logout{
    border: solid 1px white;
    color:white;
    background: linear-gradient(#FF6C00, #FF3C00);
} */



.form-control{
    background-color: white;
}

.bg-form{
    background-color: rgba(255, 68, 0, 0.637);
    /* height: 100vh; */
}

.btn{
    background: linear-gradient(#FF6C00, #FF3C00);
    border: solid 1px white;
    
    }
    .input-line{
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: none ;
    }
    .form-control{
    background-color: transparent !important;
}


